################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Temp
/TedsWorld.sln
/obj/Debug
/Library
/Assembly-CSharp.csproj
/.vs
